<head>
	<!--for JQuery plugin-->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
@model IList<EmployeeViewModel>
@{
	if (TempData["Msg"] != null)
	{
		if (Convert.ToBoolean(TempData["IsOccourError"]))
		{
			<i class="alert alert-danger">
				@TempData["Msg"]
			</i>
		}
		else
		{
			<i class="alert alert-success">
				@TempData["Msg"]
			</i>
		}

	}

}
<h1>Employee List information</h1>
<a href="/employee/entry" class="btn btn-success m-auto p-2 mb-3">Create</a>
<table class="table table-hover" id="employeeTable">
	<thead class="table-dark">
		<tr>
			<th scope="col">No</th>
			<th scope="col">Employee NO</th>
			<th scope="col">Full Name</th>
			<th scope="col">Email</th>
			<th scope="col">Gender</th>
			<th scope="col">Phone</th>
			<th scope="col">DOB</th>
			<th scope="col">DOR</th>
			<th scope="col">DOE</th>
			<th scope="col">Salary</th>
			<th scope="col">Address</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	@{
		int i = 1;
	}
	<tbody>
		@foreach (var employee in Model)
		{
			<tr>
				<th scope="row">@i</th>
				<td>@employee.No</td>
				<td>@employee.FullName</td>
				<td>@employee.Email</td>
				<td>@employee.Gender</td>
				<td>@employee.Phone</td>
				<td>@employee.DOB.ToString("dd-MM-yyyy")</td>
				<td>@employee.DOE?.ToString("dd-MM-yyyy")</td>
				<td>@(employee.DOR?.ToString("dd-MM-yyyy"))</td>
				<td>@employee.Salary</td>
				<td>@employee.Address</td>
				<td>
					<a href="/Employee/Edit?id=@employee.Id" class="btn btn-success">Edit</a>
					<a href="/Employee/Delete?id=@employee.Id" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this record')">Delete</a>
				</td>
			</tr>
			i++;
		}

	</tbody>
</table>
<script>
	$(document).ready(function () {
		$('#employeeTable').DataTable();
	});
</script>


