<head>
    <!--for JQuery plugin-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
@model IList<ShiftViewModel>
<h3>Shit List</h3>
<a href="/shift/entry" class="btn btn-success mb-3">Create</a>
<table class="table table-hover mb-3" id="shiftTable">

    <thead class="table-dark" >
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">In Time:</th>
            <th scope="col">Out Time:</th>
            <th scope="col">Late After</th>
            <th scope="col">Early Out Before</th>
            <th scope="col">Attendance Policy</th>
            @if (User.IsInRole("HR"))
            {
                <th scope="col">Action</th>
            }
           
        </tr>
     </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach(var shift in Model)
        {
            <tr>
                <td scope="row">@i</td>
                <td>@shift.Name</td>
                <td>@shift.InTime.ToString()</td>
                <td>@shift.OutTime.ToString()</td>
                <td>@shift.LateAfter</td>
                <td>@shift.EarlyOutBefore</td>
                <td>@shift.AttendancePolicyInfo</td>
                <td>
                     @if(User.IsInRole("HR")){
                    <a href="/shift/Edit?id=@shift.Id" class="btn btn-primary">Edit</a>
                        <a href="/shift/Delete?id=@shift.Id" class="btn btn-danger" onclick="confirm('Are you sure want to Delete')">Delete</a>
                    }
                </td>
                
               
            </tr>
            i++;
        }    
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#shiftTable').DataTable()
    });
</script>

