@model DailyAttendanceViewModel

@{
	if (TempData["Msg"] != null)
	{
		if (Convert.ToBoolean(TempData["IsOccourError"]))
		{
			<i class="text-danger">
				@TempData["Msg"]
			</i>
		}
		else
		{
			<i class="text-success">
				@TempData["Msg"]
			</i>
		}

	}
}

<h1 class="display-2">Daily Attendance Update Form</h1>


<form action="/DailyAttendance/Update" method="post">

		<div class="mb-3">
			<input type="hidden" value="@Model.Id" name="Id" class="form-control">
		</div>
		<div class="mb-3">
			<label for="AttendanceDate" class="from-label">Attendance Date-</label>
			<input type="date" value="@Model.AttendanceDate.ToString("yyyy-MM-dd")" name="AttendanceDate" class="form-control">
		</div>

		<div class="mb-3">
			<label for="InTime" class="from-label">InTime:</label>
			<input type="time" value="@Model.InTime.ToString()" name="Intime" class="form-control">
		</div>
		<div class="mb-3">
			<label for="OutTime" class="from-label">OutTime:</label>
			<input type="time" value="@Model.OutTime.ToString()" name="OutTime" class="form-control">
		</div>

	<button type="submit" class="btn btn-primary">Save</button>
	<a href="/dailyAttendance/list" class="btn btn-warning">Cancel</a>
</form>

