@model DailyAttendanceViewModel

@{
	if (TempData["Msg"] != null)
	{
		if (Convert.ToBoolean(TempData["IsOccourError"]))
		{
			<i class="text-danger">
				@TempData["Msg"]
			</i>
		}
		else
		{
			<i class="text-success">
				@TempData["Msg"]
			</i>
		}

	}
}

<h1 class="display-2">Department Update Form</h1>

<form action="/DailyAttendance/Update" method="post">

		<div class="mb-3">
			<input type="hidden" value="@Model.Id" name="Id" class="form-control">
		</div>
		<div class="mb-3">
			<label for="AttendanceDate" class="from-label">Attendance Date</label>
			<input type="date" value="@Model.AttendanceDate" name="AttendanceDate" class="form-control" placeholder="Enter Attendance Date">
		</div>

		<div class="mb-3">
			<label for="OutTime" class="from-label">OutTime</label>
			<input type="date" value="@Model.OutTime" name="OutTime" class="form-control" placeholder="Enter OutTime">
		</div>
		<div class="mb-3">
			<label for="InTime" class="from-label">InTime</label>
			<input type="date" value="@Model.InTime" name="InTime" class="form-control" placeholder="Enter InTime">
		</div>
		<div class="mb-3">
			<label for="InTime" class="from-label">InTime</label>
			<input type="date" value="@Model.InTime" name="InTime" class="form-control" placeholder="Enter InTime">
		</div>

	<button type="submit" class="btn btn-primary mb-3">Save</button>
	<a href="/department/list" class="btn btn-warning">Cancel</a>
</form>

