@model IList<DailyAttendanceViewModel>

<h1>Daily Attendance List</h1>
<table class="table-hover">
	<thead class="table table-dark">
		<tr>
			<th scope="col">No</th>
			<th scope="col">Daily Attendance</th>
			<th scope="col">Out Time</th>
			<th scope="col">In Time</th>
			<th scope="col">Employee</th>
			<th scope="col">Department</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@{
			var i = 1;
		}
		
		@foreach(var dailyAttendance in Model)
		{
			<tr>
				<td>@i</td>
				<td>@dailyAttendance.AttendanceDate</td>
				<td>@dailyAttendance.OutTime</td>
				<td>@dailyAttendance.InTime</td>
				<td>@dailyAttendance.EmployeeInfo</td>
				<td>@dailyAttendance.DepartmentInfo</td>
				<td>
                    <a href="/DailyAttendance/edit?id=@dailyAttendance.Id" class="btn btn-primary">Edit</a>
                    <a href="/DailyAttendance/delet?id=@dailyAttendance.Id" class="btn btn-danger" onclick="confirm("Are you sure want to delete")">Delete</a>
				</td>
			</tr>
			i++;
		}
		
	</tbody>
</table>